.navbar.navbar-expand-lg.nav-background
  .container-fluid
    %h1= link_to 'STILTED', root_path, class: 'logo'
    .d-none.d-lg-block
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-link
          = link_to 'Listen Now', music_index_path, class: 'btn btn-dark'
        %li.nav-link
          = link_to 'Upcoming Shows', shows_path, class: 'btn btn-dark'
        -# %li.nav-link
          -# = link_to 'Merch', merch_index_path, class: 'btn btn-dark'
        %li.nav-link
          = link_to 'Booking / Contact', new_message_path, class: 'btn btn-dark'
    .d-lg-none
      .btn-group
        = link_to 'Shows', shows_path, class: 'btn btn-dark'
        = link_to 'Music', music_index_path, class: 'btn btn-dark'
        -# = link_to 'Merch', merch_index_path, class: 'btn btn-dark'
        = link_to 'Contact', new_message_path, class: 'btn btn-dark'
